.note-holder {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

body {
    text-align: center;
}

.new-note-form {
    text-align: center;
    position: fixed;
    z-index: 3;
    width: 200px;
    height: 170px;
    left: 50%;
    top: 30%;
    margin-top: -50px;
    margin-left: -50px;
    border-style: groove;
}


/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/

/*}*/